<%# locals: (btm_btn_text:, btm_btn_link:) -%>
<div class="fixed bottom-16 left-0 z-50 w-full h-12 bg-white dark:bg-gray-700 dark:border-gray-600">
    <div class="grid h-full max-w-lg grid-cols-1 mx-auto h-1/2 px-4">
            <%= link_to btm_btn_text, btm_btn_link, class: "text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
    </div>
</div>