<div class="table-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
  <div class="table-cell px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= payment.id %></div>
  <div class="table-cell px-6 py-4"><%= payment.outcome %></div>
  <div class="table-cell px-6 py-4"><%= payment.memo %></div>
</div>