<%= turbo_frame_tag "requests" do %>
  <% if @requests.any? %>
    <%= render @requests %>
  <% else %>
    <div class="my-16 w-3/4 text-center p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mx-auto w-12 h-12 text-gray-500 dark:text-gray-400 mb-3">
        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
      </svg>
      <a href="#">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">No Results</h5>
      </a>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">We couldn't find any requests containing <span class="font-bold">'<%= params[:query] %>'</span> try a different search term.</p>
    </div>
  <% end %>
<% end %>