<div class="grid grid-cols-3 my-8 content-center">
  <h1 class="font-bold text-4xl col-span-1">Requests</h1>
  <div class="flex w-full">
    <%= render "search" %>
  </div>
  <div class="flex content-center justify-end">
    <%= link_to "Create Service", new_admin_request_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
  </div>
</div>
<div class="relative overflow-x-auto">
  <div class="table w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <div class="table-header-group text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <div class="table-row">
        <div class="table-cell px-6 py-3">Request #</div>
        <div class="table-cell px-6 py-3">Customer</div>
        <div class="table-cell px-6 py-3">Vendor</div>
        <div class="table-cell px-6 py-3">Status</div>
        <div class="table-cell px-6 py-3">actions</div>
      </div>
    </div>
    <%= render "requests", requests: @requests %>
  </div>
  <div class="flex justify-center my-8">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
